server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/inmobiliaria
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update #create-drop | update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      indent_output: true

# Swagger UI disponible en: http://localhost:8080/swagger-ui.html
springdoc:
  api-docs:
    path: /api-docs
